{% extends 'base.html' %}

{% block content %}
<div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">

            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- forms -->
        <section class="forms">
            <!-- forms 1 -->
            <div class="card card_border py-2 mb-4">
                <div class="cards__heading">
                    <h3>编辑视频信息<span></span></h3>
                </div>
                <div class="card-body">
                    <form action="#" method="post" class="was-validated">
                        <div class="form-row">
							<div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">标题 </label>
							<input type="text" class="form-control input-style" id="inputAddress" name="title" autocomplete="off"  value="{{ videos.title }}" required>
							<div class="invalid-feedback">请填写标题！</div>
							</div>

 <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">分集次</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="episode" autocomplete="off"  value="{{ videos.episode}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">分集总数</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="total_episodes" autocomplete="off"  value="{{ videos.total_episodes}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">出品者</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="producer" autocomplete="off"  value="{{ videos.producer}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">出品地</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="pro_loca" autocomplete="off"  value="{{ videos.pro_loca}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">资源获得方式</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="resource" autocomplete="off"  value="{{ videos.resource}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">资源提供者</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="provider" autocomplete="off"  value="{{ videos.provider}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">摄制日期</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="video_date" autocomplete="off"  value="{{ videos.video_date}}">
        </div>

        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">发布日期</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="release_date" autocomplete="off"  value="{{ videos.release_date}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">获奖</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="award" autocomplete="off"  value="{{ videos.award}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">演奏形式</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="performance_form" autocomplete="off"  value="{{ videos.performance_form}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">教学形式</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="program_type" autocomplete="off"  value="{{ videos.program_type}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">字幕形式</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="subtitle" autocomplete="off"  value="{{ videos.subtitle}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">时长</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="length" autocomplete="off"  value="{{ videos.length}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">画面宽高比</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="aspect_ratio" autocomplete="off"  value="{{ videos.aspect_ratio}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">音频数据码率</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="bit_rate" autocomplete="off"  value="{{ videos.bit_rate}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">声道格式</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="sound_track" autocomplete="off"  value="{{ videos.sound_track}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">信息率</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="data_rate" autocomplete="off"  value="{{ videos.data_rate}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">总比特率</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="total_bitrate" autocomplete="off"  value="{{ videos.total_bitrate}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">音频采样频率</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="audio_sampling_frequency" autocomplete="off"  value="{{ videos.audio_sampling_frequency}}">
        </div>
                                <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">并列题名</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="parallel_title" autocomplete="off"  value="{{ videos.parallel_title}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">交替题名</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="alternate_title" autocomplete="off"  value="{{ videos.alternate_title}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">其他题名信息</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="other_title_info" autocomplete="off"  value="{{ videos.other_title_info}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">系列题名</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="series_title" autocomplete="off"  value="{{ videos.series_title}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">并列系列题名</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="parallel_series_title" autocomplete="off"  value="{{ videos.parallel_series_title}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">个人名称</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="individual_name" autocomplete="off"  value="{{ videos.individual_name}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">团体名称</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="group_name" autocomplete="off"  value="{{ videos.group_name}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">会议名称</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="conference_name" autocomplete="off"  value="{{ videos.conference_name}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">责任者并列名</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="joint_author_name" autocomplete="off"  value="{{ videos.joint_author_name}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">其他信息</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="other_info" autocomplete="off"  value="{{ videos.other_info}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">责任方式</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="bearing_method" autocomplete="off"  value="{{ videos.bearing_method}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">版本</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="version" autocomplete="off"  value="{{ videos.version}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">出版日期</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="public_date" autocomplete="off"  value="{{ videos.public_date}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">附加块类型</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="addi_block_type" autocomplete="off"  value="{{ videos.addi_block_type}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">附加块描述</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="addi_block_desc" autocomplete="off"  value="{{ videos.addi_block_desc}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">声道编号</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="sound_id" autocomplete="off"  value="{{ videos.sound_id}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">声道内容</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="sound_content" autocomplete="off"  value="{{ videos.sound_content}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">附注</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="notes" autocomplete="off"  value="{{ videos.notes}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">检索途径</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="search_method" autocomplete="off"  value="{{ videos.search_method}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">关键词</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="key_word" autocomplete="off"  value="{{ videos.key_word}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">数量</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="sum" autocomplete="off"  value="{{ videos.sum}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">制式</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="system" autocomplete="off"  value="{{ videos.system}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">声音特征</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="sound_chara" autocomplete="off"  value="{{ videos.sound_chara}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">色彩</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="colors" autocomplete="off"  value="{{ videos.colors}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">分辨率</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="resolution" autocomplete="off"  value="{{ videos.resolution}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">声音质量</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="sound_qua" autocomplete="off"  value="{{ videos.sound_qua}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">画面质量</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="frame_qua" autocomplete="off"  value="{{ videos.frame_qua}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">音频编码格式</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="mode" autocomplete="off"  value="{{ videos.mode}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">音频位深度</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="depth" autocomplete="off"  value="{{ videos.depth}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">视频采样格式</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="video_sampling_frequency" autocomplete="off"  value="{{ videos.video_sampling_frequency}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">声道编号</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="language_id" autocomplete="off"  value="{{ videos.language_id}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">声道语种</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="language_type" autocomplete="off"  value="{{ videos.language_type}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">字幕编号</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="subtitle_id" autocomplete="off"  value="{{ videos.subtitle_id}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">字幕语种</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="subtitle_type" autocomplete="off"  value="{{ videos.subtitle_type}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">受众</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="audience" autocomplete="off"  value="{{ videos.audience}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">原版本</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="ori_form" autocomplete="off"  value="{{ videos.ori_form}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">其他版本</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="other_form" autocomplete="off"  value="{{ videos.other_form}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">包含</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="inclusion" autocomplete="off"  value="{{ videos.inclusion}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">包含于</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="included" autocomplete="off"  value="{{ videos.included}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">参考</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="refering" autocomplete="off"  value="{{ videos.refering}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">被参考</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="reference" autocomplete="off"  value="{{ videos.reference}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">版权拥有者</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="copyright_holder" autocomplete="off"  value="{{ videos.copyright_holder}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">版权声明</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="copyright_notice" autocomplete="off"  value="{{ videos.copyright_notice}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">授权使用者</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="authorize_person" autocomplete="off"  value="{{ videos.authorize_person}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">授权使用方式</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="authorize_form" autocomplete="off"  value="{{ videos.authorize_form}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">授权使用日期</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="authorize_date" autocomplete="off"  value="{{ videos.authorize_date}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">授权使用期限</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="authorize_due" autocomplete="off"  value="{{ videos.authorize_due}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">授权使用地域</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="authorize_area" autocomplete="off"  value="{{ videos.authorize_area}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">授权文件</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="authorize_file" autocomplete="off"  value="{{ videos.authorize_file}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">其他信息</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="authorize_info" autocomplete="off"  value="{{ videos.authorize_info}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">时间范围</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="time_length" autocomplete="off"  value="{{ videos.time_length}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">空间范围</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="space_length" autocomplete="off"  value="{{ videos.space_length}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">源载体</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="source_carrier" autocomplete="off"  value="{{ videos.source_carrier}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">馆藏地</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="collect_area" autocomplete="off"  value="{{ videos.collect_area}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">馆藏单位</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="collect_unit" autocomplete="off"  value="{{ videos.collect_unit}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">索取号</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="call_number" autocomplete="off"  value="{{ videos.call_number}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">征集人</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="collect_person" autocomplete="off"  value="{{ videos.collect_person}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">加工单位</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="process_unit" autocomplete="off"  value="{{ videos.process_unit}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">服务方式</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="serve_form" autocomplete="off"  value="{{ videos.serve_form}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">服务栏目</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="serve_column" autocomplete="off"  value="{{ videos.serve_column}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">服务时间</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="serve_time" autocomplete="off"  value="{{ videos.serve_time}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">服务地址</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="serve_addr" autocomplete="off"  value="{{ videos.serve_addr}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">服务对象</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="serve_obj" autocomplete="off"  value="{{ videos.serve_obj}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">验收时间</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="acce_time" autocomplete="off"  value="{{ videos.acce_time}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">验收方式</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="acce_form" autocomplete="off"  value="{{ videos.acce_form}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">验收人</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="acce_person" autocomplete="off"  value="{{ videos.acce_person}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">验收意见</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="acce_opi" autocomplete="off"  value="{{ videos.acce_opi}}">
        </div>
        <div class="form-group col-md-6">
<label for="inputAddress" class="icol-sm-2 col-form-label input__label">验收报告</label>
        <input type="text" class="form-control input-style" id="inputAddress"
               name="acce_repo" autocomplete="off"  value="{{ videos.acce_repo}}">
        </div>
						</div>
						<input  type="submit" name="submit" value="更新"  class="btn btn-primary btn-style mt-4">


                    </form>
                </div>
            </div>
            <!-- //forms 1 -->


        </section>
        <!-- //forms -->
        </section>
{% endblock %}
