
<html lang="en">

<head>

 {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}

<link rel="stylesheet" href="{{ url_for('static', filename='style-starter.css') }}" type="text/css">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Home</title>

  <!-- Template CSS<link rel="stylesheet" href="assets/css/style-starter.css"> -->


  <!-- google fonts -->
  <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body class="sidebar-menu-collapsed">
  <div class="se-pre-con"></div>
<section>
  <!-- sidebar menu start -->
  <div class="sidebar-menu sticky-sidebar-menu">

    <!-- logo start -->
    <div class="logo">
      <h1><a href="index.html">Collective</a></h1>
    </div>

  <!-- if logo is image enable this -->
    <!-- image logo --
    <div class="logo">
      <a href="index.html">
        <img src="image-path" alt="Your logo" title="Your logo" class="img-fluid" style="height:35px;" />
      </a>
    </div>
    <!-- //image logo -->

    <div class="logo-icon text-center">
      <a href="index.html" title="logo"><img src="static/images1/logo.png" alt="logo-icon"> </a>
    </div>
    <!-- //logo end -->

    <div class="sidebar-menu-inner">

      <!-- sidebar nav start -->
      <ul class="nav nav-pills nav-stacked custom-nav">
        <li class="active"><a href="{{ url_for('index') }}"><i class="fa fa-tachometer"></i><span> Dashboard</span></a>
        </li>
        <li class="menu-list">
          <a href="#"><i class="fa fa-cogs"></i>
            <span>Elements <i class="lnr lnr-chevron-right"></i></span></a>
          <ul class="sub-menu-list">
            <li><a href="carousels.html">Carousels</a> </li>
            <li><a href="cards.html">Default cards</a> </li>
            <li><a href="people.html">People cards</a></li>
          </ul>
        </li>
        <li><a href="pricing.html"><i class="fa fa-table"></i> <span>Pricing tables</span></a></li>
        <li><a href="blocks.html"><i class="fa fa-th"></i> <span>Content blocks</span></a></li>
        <li><a href="forms.html"><i class="fa fa-file-text"></i> <span>Forms</span></a></li>
      </ul>
      <!-- //sidebar nav end -->
      <!-- toggle button start -->
      <a class="toggle-btn">
        <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
        <i class="fa fa-angle-double-right menu-collapsed__right"></i>
      </a>
      <!-- //toggle button end -->
    </div>
  </div>
  <!-- //sidebar menu end -->
  <!-- header-starts -->
  <div class="header sticky-header">

    <!-- notification menu start -->
    <div class="menu-right">
      <div class="navbar user-panel-top">
        <div class="search-box">
          <form action="#search-results.html" method="get">
            <input class="search-input" placeholder="搜索..." type="search" id="search">
            <button class="search-submit" value=""><span class="fa fa-search"></span></button>
          </form>
        </div>
        <div class="user-dropdown-details d-flex">
          <div class="profile_details_left">
            <ul class="nofitications-dropdown">

            </ul>
          </div>
          <div class="profile_details">
            <ul>
              <li class="dropdown profile_details_drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                  aria-expanded="false">
                  <div class="profile_img">
                    <img src="static/images/avatar.jpeg" class="rounded-circle" alt="" />
                    <div class="user-active">
                      <span></span>
                    </div>
                  </div>
                </a>
                <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                  <li class="user-info">
                    {% if current_user.is_authenticated %}
                    <h5 class="user-name">{{ user.name }}</h5>
                    {% else %}
                    <h5 class="user-name">未登录</h5>
                    {% endif %}
                  </li>
                  {% if current_user.is_authenticated %}
                  <li class="logout"> <a href="{{ url_for('logout') }}"><i class="fa fa-power-off"></i> 退出</a> </li>
                  <li> <a href="{{ url_for('settings') }}"><i class="lnr lnr-cog"></i>编辑</a> </li>
                  {% else %}
                  <li> <a href="{{ url_for('login') }}"><i class="lnr lnr-users"></i>登录</a> </li>
                  {% endif %}

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--notification menu end -->
  </div>
  <!-- //header-ends -->
 <!-- main content start -->
<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">

            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- forms -->
        <section class="forms">
            <!-- forms 1 -->
            <div class="card card_border py-2 mb-4">
                <div class="cards__heading">
                    <h3>编辑图片信息<span></span></h3>
                </div>
                <div class="card-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="inputAddress" class="icol-sm-2 col-form-label input__label">标题</label>
                            <input type="text" class="form-control input-style" id="inputAddress"
								   name="title" autocomplete="off"  value="{{ pictures.title }}" required>
							<br>
                            <label for="inputAddress" class="input__label">网址</label>
                            <input type="text" class="form-control input-style" id="inputAddress"
								   name="URL" autocomplete="off"  value="{{ pictures.URL }}">
							<br>
							<label for="inputAddress" class="input__label">表演者</label>
                            <input type="text" class="form-control input-style" id="inputAddress"
								   name="individual_name" autocomplete="off"  value="{{ pictures.individual_name }}">
							<br>
							<label for="inputAddress" class="input__label">表演单位</label>
                            <input type="text" class="form-control input-style" id="inputAddress"
								   name="group_name" autocomplete="off"  value="{{ pictures.group_name }}">
							<br>
							<label for="inputAddress" class="input__label">拍摄地点</label>
                            <input type="text" class="form-control input-style" id="inputAddress"
								    name="pro_loca" autocomplete="off"  value="{{ pictures.pro_loca }}">
							<br>
							<label for="inputAddress" class="input__label">图片拍摄时间</label>
                            <input type="text" class="form-control input-style" id="inputAddress"
								   name="pic_date" autocomplete="off"  value="{{ pictures.pic_date }}">
							<br>
							<label for="inputAddress" class="input__label">图片发布时间</label>
                            <input type="text" class="form-control input-style" id="inputAddress"
								   name="release_date" autocomplete="off"  value="{{ pictures.release_date }}">
							<br>
							<label for="inputAddress" class="input__label">用户上传时间</label>
                            <input type="text" class="form-control input-style" id="inputAddress"
								   name="create_date" autocomplete="off"  value="{{ pictures.create_date }}" required>
							<br>
							<label for="inputAddress" class="input__label">存储大小</label>
                            <input type="text" class="form-control input-style" id="inputAddress"
								   name="size" autocomplete="off"  value="{{ pictures.size }}">
							<br>
							<label for="inputAddress" class="input__label">图片尺寸</label>
                            <input type="text" class="form-control input-style" id="inputAddress"
								   name="resolution" autocomplete="off"  value="{{ pictures.resolution }}">
							<br>
                        </div>
    					<input  type="submit" name="submit" value="更新"  class="btn btn-primary btn-style mt-4">

                    </form>
                </div>
            </div>
            <!-- //forms 1 -->


        </section>
        <!-- //forms -->
        </section>
        <!-- //forms  -->

    </div>
    <!-- //content -->

</div>
<!-- main content end-->
</section>
  <!--footer section start-->
<footer class="dashboard">
  <p>Copyright &copy; 2020 yanggeniubi</p>
</footer>
<!--footer section end-->
<!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>
<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- /move top -->


<script src="static/jquery-3.3.1.min.js"></script>
<script src="static/jquery-1.10.2.min.js"></script>

<!-- chart js -->
<script src="static/Chart.min.js"></script>
<script src="static/utils.js"></script>
<!-- //chart js -->

<!-- Different scripts of charts.  Ex.Barchart, Linechart -->
<script src="static/bar.js"></script>
<script src="static/linechart.js"></script>
<!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


<script src="static/jquery.nicescroll.js"></script>
<script src="static/scripts.js"></script>

<!-- close script -->
<script>
  var closebtns = document.getElementsByClassName("close-grid");
  var i;

  for (i = 0; i < closebtns.length; i++) {
    closebtns[i].addEventListener("click", function () {
      this.parentElement.style.display = 'none';
    });
  }
</script>
<!-- //close script -->

<!-- disable body scroll when navbar is in active -->
<script>
  $(function () {
    $('.sidebar-menu-collapsed').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll when navbar is in active -->

 <!-- loading-gif Js -->
 <script src="static/modernizr.js"></script>
 <script>
     $(window).load(function () {
         // Animate loader off screen
         $(".se-pre-con").fadeOut("slow");;
     });
 </script>
 <!--// loading-gif Js -->

<!-- Bootstrap Core JavaScript -->
<script src="static/bootstrap.min.js"></script>

</body>

</html>
