{% extends 'base.html' %}

{% block content %}
<style type="text/css">

  .zhezhao{
        position: fixed;
        left: 0px;
        top: 0px;
        background: #000;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        z-index: 9999
        }
  .tankuang{
        position: relative;
        background: #fff;
        width: 50%;
        height: 80%;
        overflow:auto;
        border-radius: 5px;
        margin: 5% auto;
          opacity: 1;
      }

   .tankuang1{
        position: relative;
        overflow:auto;
        background: #fff;
        width: 50%;
        height: 93%;
        border-radius: 5px;
        margin: 3% auto;
          opacity: 1;
      }

  #header{
            height: 40px;
        }
  #header-right{
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        background: red;
        color: #fff;
        right: 5px;
        top: 5px;
        text-align: center;
  }

  th.th1,td.td1{
      border: 1px solid #999;
      width: 400px;
      text-align: center;
      padding: 20px 0;
  }
  th.th2,td.td2{
      border: 1px solid #999;
      width: 400px;
      text-align: center;
      padding: 13px 0;
  }

  </style>

<div class="zhezhao" id='zhezhao'>
  <div class="tankuang" style="text-align:center;">
  <div id="header" style="margin:5%">
  <table border="1" width="450" style="  text-align:center; border-collapse: collapse; margin:auto; " >
  <thead style="margin-top:100px;">
    <tr style="background-color: #4755AB; color: #fff; margin-top: 100px;">
      <p style="color: #fff; size: 1px;">  123 </p>
        <td class="td1" colspan="6">详细信息</td>
      </tr>
  </thead>
  <tbody>
    <tr  style="background-color: #eee; ">
        <th class="th1">名称</th>
        <td class="td1 zhezhao-title" colspan="5">{% for music in musics %}
          {% if music.URL==name %}
              {{music.title}}
          {% endif %}
      {% endfor %}</music></td>
      </tr>
      <tr >
        <th class="th1">序号</th>
        <td class="td1 zhezhao-id" >music.id</td>
        <th class="th1">种类</th>
        <td class="td1 zhezhao-singing_form" >music.singing_form</td>
        <th class="th1">大小</th>
        <td class="td1 zhezhao-size" >music.size</td>
      </tr>
      <tr style="background-color: #eee; ">
        <th class="th1">录制日期</th>
        <td class="td1 zhezhao-create_date" colspan="2">music.create_date</td>
        <th class="th1" class="th1">发布日期</th>
        <td class="td1 zhezhao-release_date" colspan="2">music.release_date</td>
      </tr>
      <tr>
        <th class="th1">文件类型</th>
        <td class="td1 zhezhao-type" colspan="2">music.type</td>
        <th class="th1">时长</th>
        <td class="td1 zhezhao-length" colspan="2">music.length</td>
      </tr>
      <tr style="background-color: #eee; ">
        <th class="th1">比特率</th>
        <td class="td1 zhezhao-bit_rate" colspan="2">music.bit_rate</td>
        <th class="th1">编码人员</th>
        <td class="td1 zhezhao-mode" colspan="2">music.mode</td>
      </tr>
      <tr>
        <th class="th1">出品地</th>
        <td class="td1 zhezhao-pro_loca" colspan="2">music.pro_loca</td>
        <th class="th1">责任人</th>
        <td class="td1 zhezhao-provider" colspan="2">music.provider</td>
      </tr>
    </tbody>
  </table>
          <div id="header-right" onclick="hidder()">x</div>
      </div>
  </div>
</div>
<script type="text/javascript">
  document.getElementById('zhezhao').style.display="none";
  function dianwo(){
      document.getElementById('zhezhao').style.display="";
  }
  function hidder(){
      document.getElementById('zhezhao').style.display="none";
  }
</script>
 <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- forms -->
        <section class="forms">

            <div class="cards__heading">
                <h3>音频播放</h3>
              </div>
              <!-- accordion style 1 -->
              <div class="col-lg-15 mb-5">
                <div class="card card_border">

                  <div class="card-body">
                    <div class="accordion" id="accordionExample">
                      <div class="card">
                        <div class="card-header bg-white p-0" id="headingOne">
                          <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">试听<embed src="{{ url_for('static', filename=name)}}" type="audio/mp3"  height="30"/></a>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                          data-parent="#accordionExample">
                          <div class="card-body para__style">
                            <div class="row cwp23-content align-items-lg-center">
                              <div class="cwp23-text col-md-6 mt-4 mt-md-0 pl-md-4">
                                <div class="row cwp23-text-cols">
                                <div class="column col-lg-6 mt-4 col-xs-2">
                                  <h4 class="text-primary">音频名称</h4>
                                  <p>{% for music in musics %}
                                    {% if music.URL==name %}
                                        {{music.title}}
                                    {% endif %}
                                {% endfor %}</p>
                                </div>



                                  <div class="column col-lg-6 mt-4 col-xs-4">
                                    <h4 class="text-primary">文件格式</h4>
                                    <p>{% for music in musics %}
                                      {% if music.URL==name %}
                                          {{music.type}}
                                      {% endif %}
                                  {% endfor %}</p>
                                  </div>



                                  <div class="column col-lg-6 mt-4 col-xs-6">
                                    <h4 class="text-primary">责任人</h4>
                                    <p>{% for music in musics %}
                                      {% if music.URL==name %}
                                          {{music.provider}}
                                      {% endif %}
                                  {% endfor %}</p>

                                  </div>
                                  <div class="column col-lg-6 mt-4 col-xs-6">
                                    <h4 class="text-primary">发行地</h4>
                                    <p>{% for music in musics %}
                                      {% if music.URL==name %}
                                          {{music.pro_loca}}
                                      {% endif %}
                                  {% endfor %}</p>

                                  </div>

                            </div>
                          </div>
                            <div class="cwp23-text col-md-6 mt-4 mt-md-0 pl-md-4">
                              <div class="row cwp23-text-cols">
                              <div class="column col-lg-6 mt-4 col-xs-2">
                                <h4 class="text-primary">音频时长</h4>
                                <p>{% for music in musics %}
                                  {% if music.URL==name %}
                                      {{music.length}}
                                  {% endif %}
                              {% endfor %}</p>
                              </div>
                              <div class="column col-lg-6 mt-4 col-xs-2">
                                <h4 class="text-primary">音频大小</h4>
                                <p>{% for music in musics %}
                                  {% if music.URL==name %}
                                      {{music.size}}
                                  {% endif %}
                              {% endfor %}</p>
                              </div>



                                <div class="column col-lg-6 mt-4 col-xs-4">
                                  <h4 class="text-primary">上传日期</h4>
                                  <p>{% for music in musics %}
                                    {% if music.URL==name %}
                                        {{music.release_date}}
                                    {% endif %}
                                {% endfor %}</p>
                                </div>



                                <div class="column col-lg-6 mt-4 col-xs-6">
                                  <h4 class="text-primary">录制日期</h4>
                                  <p>{% for music in musics %}
                                    {% if music.URL==name %}
                                        {{music.record_date}}
                                    {% endif %}
                                {% endfor %}</p>
                                </div>

                          </div>
                        </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!-- //accordion style 1 -->





        </section>
        <!-- //forms -->
        </section>
        <!-- //forms  -->
    </div>
{% endblock %}